
/********** tag **********/
body {
  font-size:13px;
  font-family: Arial, sans-serif;
}

a{
  text-decoration: none;
  color:inherit;
}

a:hover {
  text-decoration: underline;
  color: rgb(45, 45, 45)
}

/********** header **********/

.header {
  display: block;
  text-align: right;
}

.header li {
  display: inline-block;
}

.gmail .image {
  height: 24px;
}

.header li .image {
  padding-left: 15px;
  padding-right: 15px;
}

.google_app, .user img {
  width: 30px;
  height: 30px;
}

.header li .user {
  padding-left: 15px;
}
